body {
    text-align: center;
}

.gamebox {
    display: inline-block;
    padding: 0 20% 0 20%;
    background-color: rgb(0, 204, 255);
}

.min, .max {
    display: inline-block;
    padding: 0 5%;
}

button {
    margin-top: 5%;
}

.gameStart {
    display: none;
}

.enterguess {
    display: inline-block;
}

input.guessInput {
    display: inline-block;
}

.outputmessages {
    background-color: red;
    color: white
}